.container{
    max-width: 1440px;
    width: 100%;
    /* display: flex;
    justify-content: flex-end; */
}

.header{
    background: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 24%;
    width: 100%;   
}

.header h3{
    color: #121F4B;
    font-size: 3.125rem;
    font-weight: 500;
}

.profile{
    display: flex;
    align-items: center;
    gap: .6rem;
}

.profile-pic{
    width: 2.5rem;
    height: 2.5rem;
}

.profile-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.profile-name h4{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}